
body{
    font-family:'Marcellus SC', serif;;
    margin:0px;
}

nav {
    display: none;
}

#hamburger-menu{
    display:none;

}

#hamburger-menu:checked ~ nav {
    display: block;
    
}

nav{
    color:white;
    font-size: 2em;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
    font-family: 'Anton', sans-serif;
}

nav a:visited {
    text-decoration: none;
    color:#00a4ccff;
}

nav a:hover{
    color: orange
}

li{
    margin-top: 20px;
    transition: 1s;
    padding: 0px;  
}

header{
    height:100px;
    background-color: #00a4ccff;
}

.hamburger{
    color:white;
    font-size: 2em;
    margin-right:30px;
}

nav li{
    font-size: 1em;
    display:block;
    padding:0px;
}

nav ul{
    font-size: 0.7em;
    display:block;
    padding:0px;
}

nav a{
    text-decoration: none;
}


.fa-laugh-wink ,.fa-bars{
    color:white;
    font-size: 2em;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
}

.card-parent{
    display:flex;
    justify-content: center;

}
.card{
    margin-top: 10px;
    margin:10px;
    width:200px;
    height:300px;
    background-color: #00a4ccff;
    color:white;
    font-size: 5em;
    box-shadow: 5px 5px 8px rgba(255,0,255,0.8), 10px 10px 8px rgba(255,255,0.8), 15px 15px 8px rgba(0,255,255,0.8);
    text-align: center;
    line-height: 300px;
}

.card:hover{
    background-color: orange;
    box-shadow: 5px 5px 8px rgba(8, 8, 8, 0.6)

}

.card p{
    text-align: center;
    margin-left: 65px;

}


@media(max-width: 670px){
    body{
        background:orange;
        
    }

    .card{
        display:none
    
    }
}
