@font-face {
    font-family: BootsAndSpurs;
    src: url("/fonts/BootsAndSpurs.ttf"); 
}


nav {
    display: none;
}

#hamburger-menu{
    display:none;

     
}

#hamburger-menu:checked ~ nav {
    display: block;
    
}

nav{
    color:white;
    font-size: 2em;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
    font-family:BootsAndSpurs;
    
}

li{
    margin-top: 20px;
    transition: 1s;
    padding: 0px;  
}

header{
    height:100px;
    background-color: #00a4ccff;
    
    

}

.hamburger{
    color:white;
    font-size: 2em;
    margin-right:30px;
    margin-top: 30px;
}

nav li{
    font-size: 1em;
    display:block;
    padding:0px;
}

nav ul{
    font-size: 0.7em;
    display:block;
    padding:0px;
}

nav a{
    text-decoration: none;
}


.fa-laugh-wink ,.fa-bars{
    color:white;
    font-size: 2em;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
}

.fa-bars{
    
    
    
}


@media(min-width: 900px){
    body{
        background:orange:
    }
}
