

/* this is the navigation*/
header{
    background: burlywood;
    min-height: 100px;
}

nav {
    display: none;
}

nav ul{
    list-style: none;
    padding:0px; 
}

nav li{
    display: block;
}

nav a{
    text-decoration: none;
    color:black;
    padding:10px;
    display: block;
    text-transform: uppercase;
}

nav a:hover{
    text-decoration: underline;
}

#hamburger-menu{
    display: none;
 
}

#hamburger-menu:checked ~ nav{
    display:block;
    text-align: right;
    
}

.fa-bars{
    font-size: 40px;
    padding: 1em;
    float: right;
}

.current{
    font-weight: bold;
}