

/* this is the navigation*/

nav {
    display: none;
}

nav ul{
    list-style: none;
   
}

#hamburger-menu{
    display: none;
 
}

#hamburger-menu:checked ~ nav{
    display:block;
    margin: 0%;
    text-align: right;
}




.fa-bars{
    font-size: 40px;
    padding: 1em;
    float: right;
}