body {
    margin: 0;
    font-family: 'ZCOOL KuaiLe', cursive;
}


nav {
    background-color: #f542c5;
    display: flex;
}

nav i {
    color: white;
    padding: 30px;
    font-size: 50px;
}

main {
    display: flex;
    justify-content: space-evenly;
    margin-top: 30px;
}
.card {
width: 200px;
height: 200px;
font-family: 'ZCOOL KuaiLe', cursive;
font-size: 50px;
border: solid black;
text-align: center;



}